<title>Web component</title>
<link rel="stylesheet" href="https://stopsopa.github.io/pages/js/popper/html-vanilla/popover.css" />

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
    background-color: #f0f2f5;
    color: #333;
  }
</style>

<style>
  html,
  body {
    height: 100%;
    font-family: "Inter", sans-serif;
  }
</style>
<link rel="stylesheet" href="../../floating-label-pattern.css" />

<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
